{% extends "layouts/main.twig" %}

{% block title %} {{ code}} | {{ message}} {% endblock %}

{% block content %}

    <h1>{{ code }} | {{ message }}</h1>

{% endblock %}


{% block styles %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer_scripts %}

{% endblock %}

